/node_modules
/public/hot
/public/storage
/public/data/*.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.DS_Store
.editorconfig
public/js/app.js
public/css/app.css
public/fonts/vendor
public/js/app.js.LICENSE.txt
storage/debugbar/
public/images/vendor/leaflet/dist/layers-2x.png
public/images/vendor/leaflet/dist/layers.png
public/images/vendor/leaflet/dist/marker-icon.png
